*{
    margin: 0;
    padding: 0;
    font-family: 'Tw Cen MT Std', sans-serif;                                      
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-moz-selection { 
    background-color: #000; 
    color: #ffffff;
}
    
::selection {
    background-color: #000;
    color: #ffffff;
}
body{
    background: #fff;
    color: #000;
}
#header{
    padding: 45px 80px;
    background-color: #dfe2cd;
    color: black;
    text-align: right;
    font-size: 70px;
    letter-spacing: 6px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
    height: 20px;
  }

/*------------------sheet1-------------*/
#sheet1{
    background-color: #fff;
    width: 100%;
    height: 80vh;
    margin-top: 38vh;
}
.container{
    margin-left: 900px;
    width: 420px;
    height: 200px;
    padding: 10px, 50px;
    font-size: 12pt;
    text-align: right;
}
.container p{
    margin-top: 50px;
    padding: 50px,50px;
}
.logo{
    width: 140px;
    margin-top: 30px;
    transition:  margin-top 1s;
    margin-left: 0px;
}
.titlepic{
    margin-top: -340px;
    margin-left: 60px;
    width: 800px;
    transition: width 0.5s, margin-left 0.5s, margin-top 0.5s;
}
.titlepic:hover{
    margin-top: -370px;
    margin-left: 10px;
    width: 900px;
}
/*-----------------sheet2-----------*/
#sheet2{
    margin-top: 0px;
    background-color: #fff;
    height: 100vh;
    margin-top: -120px;
}
.container2{
    margin-left: 130px;
    margin-top: 30px;
    width: 80%;
    text-align: center;
    font-size: 14pt;
}

.reveal{
    letter-spacing: 1px;
    color: #dfe2cd;
    transition: letter-spacing 0.8s ease, color 0.8s ease;
}

.reveal.active{
    letter-spacing: 3px;
    color: #000;
}

.container2 p{
    margin-top: 25px;
}
.storyboard{
    margin-top: -150px;
    width: 900px;
    margin-left: 290px;
    transition: margin-top 0.5s, margin-left 0.5s, width 0.5s;
}
.storyboard:hover{
    margin-top: -160px;
    margin-left: 240px;
    width: 1000px;
}
/*-----------------sheet3-----------*/
#sheet3{
    background-color: #fff;
    height: 100vh;
    width: 100%;
    margin-top: -140px;
}
.grid{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container3{
    grid-column: 2;
    margin-left: 130px;
    margin-top: 90px;
    margin-left: 0px;
    width: 600px;
    text-align: center;
    font-size: 14pt;
}
.container3 p{
    margin-top: 25px;
}
.collage{
    grid-column: 1;
    width: 580px;
    margin-left: 85px;
}
/*-----------------sheet5-----------*/
#sheet5{
    background-color: #fff;
    height: 100vh;
    width: 100%;
    margin-top: -320px;
}
.container5{
    grid-column: 1;
    margin-left: 130px;
    margin-top: 170px;
    width: 700px;
    text-align: center;
    font-size: 14pt;
}
.container5 p{
    margin-top: 25px;
}
.environmental{
    margin-top: 100px;
    grid-column: 2;
    width: 500px;
    margin-left: 100px;
}
.elevations{
    display: grid;
    gap: 60px;
}
.elevation1{
    grid-column: 1;
    margin-top: 0px;
    width: 700px;
    margin-left: 50px;
    transition: width 1s, margin-left 1s;
}
.elevation1:hover{
    width: 750px;
    margin-left: 30px;
}
.elevation2{
    grid-column: 2;
    width: 700px;
    margin-top: 120px;
    margin-left: -80px;
    transition: width 1s, margin-left 1s;
}
.elevation2:hover{
    width: 740px;
    margin-left: -100px;
}

/*-----------------projectgallery-----------*/
#projectgallery{
    margin-top: 0px;
    background-color: #fff;
    height: 100vh;
    margin-top: 300px;
}
.projectgallery-container{
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 6px;
    color: #dfe2cd; 
}
.grid1{
    letter-spacing: 5px;
    margin-top: 60px;
    width: 100%;
    display: grid;
    gap: 2%;
    grid-template-columns: 43% 30% 23%;
    text-align: center;
    align-content: center;
    align-items: center;
}
.r1{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 1;
    background-image: url(project3/project-gallery/1.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r1:hover{
    color: #fff;
    background-image: url(project3/project-gallery/1a.webp);
    background-size: cover;
    background-position: center;
}
.r2{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 2;
    background-image: url(project3/project-gallery/2.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r2:hover{
    color: #fff;
    background-image: url(project3/project-gallery/2a.webp);
    background-size: cover;
    background-position: center;
}
.r3{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 3;
    background-image: url(project3/project-gallery/3.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r3:hover{
    color: #fff;
    background-image: url(project3/project-gallery/3a.webp);
    background-size: cover;
    background-position: center;
}

.grid2{
    letter-spacing: 5px;
    width: 100%;
    display: grid;
    gap: 2%;
    margin-top: 25px;
    grid-template-columns: 38% 15% 43%;
    text-align: center;
    align-content: center;
    align-items: center;
}
.r4{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 1;
    background-image: url(project3/project-gallery/4.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r4:hover{
    color: #fff;
    background-image: url(project3/project-gallery/4a.webp);
    background-size: cover;
    background-position: center;
}
.r5{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 2;
    background-image: url(project3/project-gallery/5.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r5:hover{
    color: #fff;
    background-image: url(project3/project-gallery/5a.webp);
    background-size: cover;
    background-position: center;
}
.r6{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 3;
    background-image: url(project3/project-gallery/6.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r6:hover{
    color: #fff;
    background-image: url(project3/project-gallery/6a.webp);
    background-size: cover;
    background-position: center;
}
.r7{
    margin-top: 25px;
    letter-spacing: 5px;
    text-align: center;
    color: transparent;
    font-size: medium;
    line-height: 400px;
    grid-column: 3;
    background-image: url(project3/project-gallery/7.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    transition: background-image 0.5s, color 0.5s;
}
.r7:hover{
    color: #fff;
    background-image: url(project3/project-gallery/7a.webp);
    background-size: cover;
    background-position: center;
}

.grid3{
    letter-spacing: 5px;
    width: 100%;
    display: grid;
    gap: 2%;
    margin-top: 25px;
    grid-template-columns: 14% 48% 34%;
    text-align: center;
    align-content: center;
    align-items: center;
}
.r8{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 1;
    background-image: url(project3/project-gallery/8.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r8:hover{
    color: #fff;
    background-image: url(project3/project-gallery/8a.webp);
    background-size: cover;
    background-position: center;
}
.r9{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 2;
    background-image: url(project3/project-gallery/9.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r9:hover{
    color: #fff;
    background-image: url(project3/project-gallery/9a.webp);
    background-size: cover;
    background-position: center;
}
.r10{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 3;
    background-image: url(project3/project-gallery/10.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r10:hover{
    color: #fff;
    background-image: url(project3/project-gallery/10a.webp);
    background-size: cover;
    background-position: center;
}

.grid4{
    letter-spacing: 5px;
    margin-top: 25px;
    width: 100%;
    display: grid;
    gap: 2%;
    grid-template-columns: 30% 68%;
    text-align: center;
    align-content: center;
    align-items: center;
}
.r11{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 1;
    background-image: url(project3/project-gallery/11.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r11:hover{
    color: #fff;
    background-image: url(project3/project-gallery/11a.webp);
    background-size: cover;
    background-position: center;
}
.r12{
    color: transparent;
    font-size: medium;
    line-height: 500px;
    grid-column: 2;
    background-image: url(project3/project-gallery/12.webp);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    transition: background-image 0.5s, color 0.5s;
}
.r12:hover{
    color: #fff;
    background-image: url(project3/project-gallery/12a.webp);
    background-size: cover;
    background-position: center;
}

/*----------------bottom-------------*/
#bottom{
    margin-top: 2000px;
    background-image: url(images/dotted\ paper\ background.webp);
    background-size: cover;
    background-position: center;
    height: 300px;
}
.containerbottom{
    width: 80%;
    transform: translateY(80px);
    margin-left: 150px;
}

.download{
    margin-top: -20px;
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: #000;
    display: inline-block;
    transition: transform 0.5s;
}
.download:hover{
    color: #525639;
    transform: translateY(-5px);
}
.containerbottom p{
    margin-top: 30px;
}
.containerbottom p1{
    margin-top: 10px;
}
.containerbottom p img{
    padding-right: 10px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #000;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #525639;
    transform: translateY(-5px);
}
.buttons{
    display: grid;
    gap: 10px;
    width: fit-content;
    float: right;
    margin-top: -10px;
}
.button1{
    grid-column: 1;
    font-weight: bold;
    font-size: large;
    color: #525639;
    display: block;
    background-color: #fff;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #525639;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
    letter-spacing: 0.5px;
}
.button1:hover{
    background: #dfe2cd;
}
.button2{
    grid-column: 2;
    font-weight: bold;
    font-size: large;
    color: #525639;
    display: block;
    background-color: #fff;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #525639;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
    letter-spacing: 0.5px;
}
.button2:hover{
    background: #dfe2cd;
}
