*{
    margin: 0;
    padding: 0;
    font-family: 'Tw Cen MT Std', sans-serif;                                      
    box-sizing: border-box;
}
::-moz-selection { 
    background-color: #000; 
    color: #ffffff;
}
    
::selection {
    background-color: #000;
    color: #ffffff;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #fff;
    color: #000;
}
#header{
    position: fixed;
    z-index: -1;
    margin-top: 0;
    width: 100%;
    height: fit-content;
    background-image: url(images/dotted\ paper\ background.webp);
    background-size: cover;
    background-position: center;
}
.container{
    
    padding: 80px 10%;
    float: right;
}

@media all and (max-width: 959px) {
    .container {display:block;}
    .phoneContent {display:none;}
}

@media all and (max-width: 479px) {
    .container {display:none;}
    .phoneContent {display:block;}
}

nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.headerimgs{
    margin-top: 40px;
    float: left;
    display: grid;
    margin-left: 12%;
    width: fit-content;
    gap: 20px;
    padding: 5% 0;

}
.hello{
    grid-column: 1;
    width: 40px;
    transform: translateY(280px);
}
.logo{
    grid-column: 2;
    width: 220px;
}

.header-text{
    display: inline;
    position: absolute;
    margin-top: 320px;
    margin-left: 60px;
    width: fit-content;
    font-size: 40px;
    font-weight: normal;
}
.header-text span{
    font-size: 60px;
    font-weight: bold;
    color: #aa977d;
}
.header-text p{
    width: 80%;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 2px;
}
.reveal{
    letter-spacing: 2px;
    transition: letter-spacing 0.8s ease;
}
.reveal.active{
    letter-spacing: 6px;
}

@media all and (max-width: 959px) {
    .header-text {display:block;}
    .phoneContent {display:none;}
}

@media all and (max-width: 479px) {
    .header-text {display:none;}
    .phoneContent {display:block;}
}

/*--------------about me-----------------*/
#about{
    background-color: #fff;
    padding: 0px 0px;
    width: 100%;
    height: fit-content;
}
.aboutgrid{
    padding: 7% 10%;
    display: grid;
    width: fit-content;
}
.deskContent {
    grid-column: 1;
    justify-content: right;
}

.meimg{
    width: 280px;
    margin-left: 170px;
    padding-top: 10%;
    padding-right: 8%;
}


@media all and (max-width: 959px) {
    .deskContent {display:block;}
    .phoneContent {display:none;}
}

@media all and (max-width: 479px) {
    .deskContent {display:none;}
    .phoneContent {display:block;}
}


.abouttext{
    grid-column: 2;
    width: fit-content;
}

.sub-title{
    text-align: center;
    font-size: 20px;
    color: #aa977d;
    letter-spacing: 3px;
}
.reveal{
    letter-spacing: 3px;
    transition: letter-spacing 0.8s ease;
}
.reveal.active{
    letter-spacing: 5px;
}

.abouttext p{
    margin-top: 30px;
}

.tab-titles{
    width: 100%;
    margin: 20px 0 40px;
}
.tab-links{
    list-style: none;
    display: inline-block;
    margin: 16px;

    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #aa977d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -30px;
}
.skills-col-1{
    margin-left: 4%;
    float: left;
    text-align: center;
}
.skills-col-1 p span{
    color: #aa977d;
    font-weight: bold;
    letter-spacing: 3px;
}
.skills-col-2{
    margin-left: 4%;
    float: left;
    text-align: center;
}
.skills-col-2 p span{
    color: #aa977d;
    font-weight: bold;
    letter-spacing: 3px;
}
.experience-col-1{
    padding-right: 15%;
    float: left;
}
.experience-col-1 p span{
    font-weight: bold;
    color: #aa977d;
    letter-spacing: 1px;
}
.experience-col-1 p span2{
    font-size: small;
}
.experience-col-2{
    float: left;
    flex-basis: 50%;
}
.experience-col-2 p span{
    font-weight: bold;
    color: #aa977d;
    letter-spacing: 1px;
}
.experience-col-2 p span2{
    font-size: small;
}
.education-col-1{
    padding-right: 15%;
    float: left;
    flex-basis: 50%;
}
.education-col-1 p span{
    font-weight: bold;
    color: #aa977d;
    letter-spacing: 1px;
}
.education-col-1 p span2{
    font-size: small;
}
.education-col-2{
    float: left;
    flex-basis: 50%;
}
.education-col-2 p span{
    font-weight: bold;
    color: #aa977d;
    letter-spacing: 1px;
}
.education-col-2 p span2{
    font-size: small;
}

.languagesgrid{
    transform: translateY(60px);
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
}
.meter{
    transform: translateY(-86px);
}
.polish{
    text-align: center;
}
.english{
    text-align: center;
}
.german{
    text-align: center;
}
.spanish{
    text-align: center;
}
svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}
.bg {
  fill: none;
  stroke-width: 10px;
  stroke: transparent;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  }

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 0;
  stroke: #aa977d;
  animation: progress-1 2.5s ease-out;
}
.meter-2 {
  stroke: #aa977d;
  stroke-dasharray: 360;
  stroke-dashoffset: 0;
  animation: progress-2 2.5s ease-out;
}
.meter-3 {
  stroke: #aa977d;
  stroke-dasharray: 360;
  stroke-dashoffset: 160;
  animation: progress-3 1.35s ease-out;
}
.meter-4 {
    stroke: #aa977d;
    stroke-dasharray: 360;
    stroke-dashoffset: 280;
    animation: progress-4 .5s ease-out;
  }

@keyframes progress-1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes progress-3 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 160;
  }
}

@keyframes progress-4 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 280;
    }
  }
.languages{
    text-align: center;
}  
.languages p1{
    color: #aa977d;
}

.other-list ul li{
    margin-left: 30px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*-----------------portfolio---------------*/
#portfolio{
    padding: 60px 10%;
    background-image: url(images/dotted\ paper\ background.webp);
    background-size: cover;
    background-position: center;
    height: fit-content;
    width: 100%;

}
.portfoliodiv{
    display: grid;
    column-gap: 3%;
}
.deskContent2{
    grid-column: 1;
    margin-top: 200px;
    width: 100%;
    float: left;
    text-align: right;
}

@media all and (max-width: 959px) {
    .deskContent2 {display:block;}
    .phoneContent {display:none;}
}

@media all and (max-width: 479px) {
    .deskContent2 {display:none;}
    .phoneContent {display:block;}
}

.portfolio-container{
    grid-column: 2;
    width: 100%;
    float: right;
}
.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.portfolio-list a{
    text-decoration: none;
}
.portfolio-list h2{
    margin-bottom: 15px;
    letter-spacing: 3px;
}
.div1{
    height: 300px;
    background-image: url(images/project1.webp);
    background-size: cover;
    background-position: center;
    color: black;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-image 0.5s, transform 0.5s, color 0.5s;
}
.div1:hover{
    background-image: url(images/project1a.webp);
    transform: translateY(-10px);
    color: transparent;
}
.div2{
    height: 300px;
    background-image: url(images/project2.webp);
    background-size: cover;
    background-position: center, y=-15px;
    color: black;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-image 0.5s, transform 0.5s, color 0.5s;
}
.div2:hover{
    background-image: url(images/project2a.webp);
    transform: translateY(-10px);
    color: transparent;
}
.div3{
    height: 300px;
    background-image: url(images/project3.webp);
    background-size: cover;
    background-position: center;
    background-position-y: bottom;
    color: black;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-image 0.5s, transform 0.5s, color 0.5s;
}
.div3:hover{
    background-image: url(images/project3a.webp);
    transform: translateY(-10px);
    color: transparent;
}
.div4{
    height: 300px;
    background-image: url(images/project4.webp);
    background-size: cover;
    background-position: center;
    padding: 40px;
    font-size: 13px;
    color: black;
    font-weight: 300;
    border-radius: 10px;
    transition: background-image 0.5s, transform 0.5s, color 0.5s;
}
.div4:hover{
    background-image: url(images/project4a.webp);
    transform: translateY(-10px);
    color: transparent;
}

/*--------------contact-------------*/
#contact{
    background-color: #fff;
    height: fit-content;
    width: 100%;
}
.contactgrid{
    padding: 5% 18%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-left{
    width: fit-content;
}
.contact-right{
    width: fit-content;
}

@media all and (max-width: 959px) {
    .contact-right {display:block;}
    .phoneContent {display:none;}
}

@media all and (max-width: 479px) {
    .contact-right {display:none;}
    .phoneContent {display:block;}
}

.contact-left h1{
    padding: 20px 0 20px 6%;
    text-align: left;
}
.contact-left p{
    margin-top: 10px;
}
.contact-left p img{
    padding-right: 10px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #000;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #aa977d;
    transform: translateY(-5px);
}
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #aa977d;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    transition: background 0.5s;
    float: left;
    letter-spacing: 0.5px;
}
.button:hover{
    background: #aa977d;
}
.button.button2{
    float: none;
    margin-top: 3px;
    cursor: pointer;
    margin: 10px auto;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #e2ded7;
    padding: 15px;
    margin: 15px;
    color: #000;
    font-size: 12px;
    border-radius: 6px;
}

